.wripper {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}
.button {
  margin-left: 20px;
  margin-top: 10px;
}
.titles {
  width: 50%;
}
.postTitle {
  color: rgb(8, 7, 7);
  margin: 0px;
}
.postScope {
  padding: 5px 0px;
  margin: 0px;
}
.postOwer {
  margin: 0px;
  padding: 10px 0px;
}
.postText {
  margin: 0px;
  padding: 10px 0px;
}
.genresTitle {
  display: inline;
  padding: 5px;
}
.image {
  width: 40%;
}
.addInfo {
  box-shadow: 2px 2px 8px rgba(54, 41, 41, 0.438);
  padding: 10px 20px;
  margin-left: -20px;
}
.addInfoTitle {
  margin: 0px;
  padding: 20px 20px;
}

.goBack {
  height: 30px;
  width: 75px;
  border: 1px solid;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.mainContainer {
  padding-top: 5px;
  padding-left: 20px;
}
ul {
  margin: 0px;
  list-style: none;
}
li {
  padding: 5px;
}
a {
  text-decoration: none;
}
