.wripperDetals {
  max-width: 800px;
  margin: 0px auto;
  padding-top: 10px;
}
.movieDetalsList {
  list-style: none;
  display: grid;
  flex-direction: column;
  padding-left: 0px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100%;
  padding-top: 10px;
}
.movieLi {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}
.movieDetalsListFoto {
  width: 100%;
}
