.revContainer {
  width: 660px;
  margin: 0px;
}
.revTitle {
  margin: 0px;
  padding-top: 20px;
}
.revList {
  list-style: none;
  padding: 10px;
}
.revSubtitle {
  margin: 0px;
  padding-top: 20px;
}
.revText {
  padding-top: 20px;
  margin-left: -10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
