.nav {
  height: 40px;
  box-shadow: 2px 2px 8px rgba(54, 41, 41, 0.438);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: large;
}
.nav > a {
  text-decoration: none;
}
.active {
  color: rgb(252, 63, 63);
}
